.Nav_Bar {
    height: 10vh;
    width: 100%;
    color: transparent;
    display: flex;
    justify-content: space-between;
}

.Nav_Brand {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Nav_Icon {
    color: #60992D;
    font-size: 3rem;
}

.Nav_Menu_Button {
    display: none;
}

@media only screen and (max-width: 900px) {
    .Nav_Brand {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 600px) {
    .Nav_Brand {
        font-size: 1rem;
        width: 20%;
    }
}

