/*
    NAV STYLES
*/

.Nav_Links,
.Nav_Links_Auth {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Nav_Links_Auth {
    width: 80%;
}

.Nav_Links {
    width: 40%;
    justify-content: space-around;
}

.Nav_Links_Auth_Main {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.Nav_Links_Auth_Highlighted {
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.Nav_Link,
.Nav_Link_Auth {
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.Nav_Link {
    font-weight: 900;
}

.Nav_Link_Auth {
    transition: all .6s;
}

.Nav_Link_Auth:hover {
    transform: scale(1.2);
}

.Nav_Learn_More,
.Nav_Link_Auth_Contact,
.Nav_Link_Auth_Logout {
    padding: .6rem;
    border-radius: .3rem;
    color: white;
    transition: all .6s;
}

.Nav_Learn_More {
    background-color: #60992D;
}

.Nav_Link_Auth_Contact {
    background-color: #3B3355;
}

.Nav_Link_Auth_Logout {
    background-color:#8B0000;
}

.Nav_Learn_More:hover {
    background-color: #467021;
}

@media only screen and (max-width: 900px) {
    .Nav_Links {
        width: 65%;
    }

    .Nav_Link {
        text-align: center;
        font-size: .8rem;
    }
}

@media only screen and (max-width: 900px) {
    .Nav_Links_Auth {
        display: none;
    }

    .Nav_Links {
        display: none;
    }
}

/*
    MENU STYLES
*/

.Menu_Links,
.Menu_Links_Main1,
.Menu_Links_Main2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.Menu_Links {
    height: 90%;
    width: 100%;
}

.Menu_Links_Main1 {
    height: 60%;
}

.Menu_Links_Main2 {
    height: 40%;
}

.Menu_Link {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
}

.Menu_Link::after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.Menu_Link:hover::after {
    width: 100%;
    background: white;
}

@media only screen and (max-width: 500px) {
    .Menu_Link {
        font-size: 1.25rem;
    }
}